.container {
  .title {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    width: 100%;
  }
  .content {
    .content-title {
      font-size: 20px;
      font-weight: 600;
      margin: 10px 0;
    }

    .items {
      .item-title {
        font-size: 17px;
        font-weight: 600;
        margin: 10px;
        width: 100%;
      }
      .item-body {
        .database-img {
          width: 500px;
        }

        margin: 0 0 0 25px;
        width: 100%;
      }
    }

    margin: 20px auto;
    width: 100%;
  }

  .img-items {
    .img-item {
      .item-img {
        img {
          width: 100%;
        }
        
        width: 100%;
        z-index: 1;
        position: absolute;
      }
  
      .item {
        &:hover {
          background-color: rgb(255, 255, 255, 0.8);
          opacity: 1;
        }
        span {
          padding: 1px;
        }

        .item-title {
          font-size: 16px;
          font-weight: 600;
          margin: 2px;
        }

        .item-text {
          font-size: 14px;
          font-weight: 300;
        }
  
        width: 100%;
        height: 100%;
        margin: auto;
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
      }
      position: relative;
      width: 250px;
      height: 250px;
      flex: 0 0 auto;
    }
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }

  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: auto;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  padding: 10px
}

* {
  margin: 0;
  padding: 0;
}












